doctype
html(lang="en")
head
    meta(charset="UTF-8")
    title Random cats
    link(rel="stylesheet" href="/styles/styles.css")
body
    h1 Cats!
    #content
        button.pink cat
        button.hidden hide
        button#btn-test show
    #pics
        img(id="cat" src="images/first-cat.jpg" width="30%").hidden
    script(src="scripts/coffee-script.js")

