<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>File Upload Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">File Upload Page</p>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/files">Browse Files</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="clearfix">
        <div class="pull-left">
            <h1>File Upload Page</h1>
        </div>
    </div>
    <br>
    <blockquote>
        <p>Simple File Uploading System<br>
            Simply chose a file for uploading and upload it!</p>
    </blockquote>
    <br>
    <form id="fileupload" action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <div class="col-lg-7">
                     <span class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files</span>
                    <input type="file" name="upload" multiple="">
                </span>

                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Upload</span>
                </button>

                <span class="fileupload-process"></span>
            </div>
        </div>
    </form>
    <br>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>