extends includes/layout

block mainContent
    div
        h1(class='jumbotron') Wearables:
        each wearable in wearables
            div(style='border: 1px solid black')
                p(style='font-size: 20px;')
                    = wearable.name + ' for ' + wearable.price + '$'
                img(src=wearable.img style="width: 20%")
