extends ../index

block main-content
    .container
        .jumbotron
            h1 Mobile Store
            h2 Best gadgets Store Out There
    .container
        .panel.panel-info
            .panel-heading
                h3.panel-title What we do
            .panel-body.text-center
                | Provide the best devises out there.
                | The best of phones.
                | The best of tablets.
                | The best of wearables.

