
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_IndexPartial</title>
</head>
<body>
<p>Science Cats rule! (partial view test)</p>
</body>
</html>

@section SideBar{
    <aside>
        Side bar section test!
    </aside>
}